.socials
  table
    tr
      td 
        a(href="https://www.facebook.com/standfortrees/")
          img(src="https://sftcdn.sfo2.cdn.digitaloceanspaces.com/emails/fb.png")
          span Facebook
      td 
        a(href="https://twitter.com/standfortrees/")
          img(src="https://sftcdn.sfo2.cdn.digitaloceanspaces.com/emails/tw.png")
          span Twitter
      td 
        a(href="https://www.instagram.com/standfortrees/")
          img(src="https://sftcdn.sfo2.cdn.digitaloceanspaces.com/emails/ig.png")
          span Instagram
  .copy 
    span &copy; Stand For Trees&nbsp;
    a(href="https://standfortrees.org")
      |standfortrees.org