style.
  .container{
    width: 700px;
    margin: 0 auto;
  }

  img.logo{
    max-width: 140px;
    display: block;
    margin: auto;
  }

  h1{
    margin: 0;
    margin-bottom: 1em;
    text-align: left;
    font-size: 46px;
    line-height: 56px;
    font-family: Georgia,serif;
    font-style: normal;
    font-weight: 400;
    color: #009490;
  }

  code{
    color: #676b6f;
  }

  p{
    color: #676b6f;
    text-align: left;
    font-size: 16px;
    line-height: 28px;
    font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    font-weight: 400;
  }

  h3{
    display: block;
    margin: 0 0 24px;
    text-align: left;
    font-size: 20px;
    line-height: 28px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 18px;
    font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    font-weight: 700;
    text-transform: none;
    color: #6ecbb8;
  }

  a,
  u + #body a{
    font-weight: normal;
  }

  .purchase a,
  a.purchase,
  u + #body .purchase a,
  u + #body a.purchase {
    font-size: 16px;
    text-decoration: underline;
    color: #00a5b5!important;
    margin-bottom: 24px;
  }

  p.underlined{
    text-decoration: underline;
  }

  p.prevN{
    font-weight: bold;
    margin-top: 20px;
  }

  .pTable{
    color: #676b6f;
    border: 0;
    font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    border-color: #dbd9d6;
    border-top-width: 1px;
    border-top-style: solid;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    text-align: right;
    margin-top: 20px;
    margin-bottom: 20px;
  }



  .pTable th,
  .pTable td{
    color: #676b6f;
    border: 0;
    padding: 12px;
    font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom: 1px solid #dbd9d6;
    padding-left: 0;
    font-size: 16px;
    line-height: 28px;
  }

  .pTable th{
    font-weight: bold;
    text-align: left;
  }

  .pTable td{
    text-align: right;

  }

  .support{
    margin-top: 35px;
    margin-bottom: 15px;
  }

  .socials{
    background-color: #ffdd00;
    color: #000000;
    font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    padding: 24px 0;
  }


  .socials table{
    width: 400px;
    margin: auto;
  }

  .socials table td{
    min-width: 33.33%;
    text-align: center;
    vertical-align: middle;
  }

  .socials img{
    max-width: 24px;
  }

  .socials table td{
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .socials a{
    font-weight: normal;
    color: #222;
    font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    display: inline-block;
    text-decoration: none;
  }

  .socials a img{
    max-width: 24px;
    display: inline-block;
    vertical-align: bottom;
  }

  .socials a span{
    line-height: 24px;
    padding-left: 5px;
    font-size: 12px;
    font-weight: 400;
  }

  .copy{
    text-align: center;
    font-size: 12px;
    color:#000;
  }

  .copy a{
    display: inline-block;
  }

  .right{
    text-align: right;
  }