include _header

  h1 Thank you for considering to stand for forests

  p Please find your Stand For Trees badging program quotation attached

  p.prevN If you need any assistance please contact &nbsp;
    a.purchase(href="mailto:info@standfortrees.org" target="_blank") info@standfortrees.org

  include _footer