include _header
  h1 Thank you 
    if(name)
      |#{name} 
    |for standing for forests

  h3 Hi there
  p Your #{document} for the Stand For Trees Badging Program has been completed. 
  p Please find the Document attached to this email.

  p.prevN If you need any help please contact us at &nbsp;
    a.purchase(href="mailto:info@standfortrees.org" target="_blank") info@standfortrees.org

  include _footer