include _header
  h1 Thank you 
    if(name)
      |#{name} 
    |for standing for forests

  h3 Hi there, 
  h3 Your #{document} for the Stand For Trees Badging Program has been completed. 
  h3 Please find the Document attached to this email.

  include _footer