include _header
  h1 Thank you 
    if(name)
      |#{name} 
    |for standing for forests

  h3 Hi there, your carbon credits retirement on Stand For Trees has been completed. Please find your certificates attached

  //- h3 Order #: #{order}
  //- h3 Date: #{date}



  p.orderN Note: If you find any certificates with a provisional serial, rest assured we will be fulfilling a complete order in the upcoming weeks and send a complete certificate to you.

  p.support Thank you for your support.

  include _footer