include _header
  h1 Reset Password for Stand For Trees

  p Please follow the link below to reset your badging program account password&nbsp;

  a.purchase(href=url) #{url}

  p.prevN If you need any help please contact us at &nbsp;
    a.purchase(href="mailto:businessbadging@standfortrees.org" target="_blank") businessbadging@standfortrees.org


  include _footer