include _header
  h1 Reset Password for Stand For Trees

  p Please follow the link below to reset your Business Program account password&nbsp;

  a.purchase(href=url) #{url}

  p.prevN If you need any help please contact us at &nbsp;
    a.purchase(href="mailto:business@standfortrees.org" target="_blank") business@standfortrees.org


  include _footer