include _header
  h1 Checkout link for order # #{order}

  h3 Just one more step

  p Please following the link below to complete your payment&nbsp;
    a(href=url) #{url}

    p.prevN Lorem Ipsum dolor sit amet
      | Lorem Ipsum dolor sit amet
      | Lorem Ipsum dolor sit amet&nbsp;
      a(href="mailto:info@standfortrees.org" target="_blank") info@standfortrees.org


  p.support Thank you for your support.

  include _footer