include _header
  h1 Checkout link for order # #{order}

  h3 Just one more step

  p Please follow the link below to your badging program account to complete your payment via credit card or Paypal&nbsp;
    a.purchase(href=url) #{url}

  if(invoice)
    p Please find your invoice attached for which includes wire payment details if that is your preferred payment method
      | except for invoices for Colombian Pesos (COP) which can only be settled by credit card through the link above.&nbsp;

    p.prevN If you need any help please contact us at &nbsp;
      a.purchase(href="mailto:info@standfortrees.org" target="_blank") info@standfortrees.org


  p.support Thank you for your support.

  include _footer