include _header
  h1 Checkout options  &nbsp;
    if(invoice)
      |&amp; invoice 
    | for order # #{order}

  p To complete your payment via credit card or Paypal please follow this link to your Business Program account&nbsp;
    a.purchase(href=url) #{url}
    |&nbsp;or log in as normal and navigate to my badges.

  p If requested, you will also find an invoice attached. 

  p Please note the info for ACH &amp; wire transfer options are provided in invoices. If you did not request an invoice in advance, please contact us. 

  p (For Colombian Peso orders credit card is the only payment option).

  p.prevN Payment must be received before your reservation ends, after which your payment links won’t function and wired funds may be returned. Your reservation ends #{expiryDate.substring(0, 10)}
  p after which you will need to do a new order for which your reserved items can’t be guaranteed as they become available again to others. We advise making wire payments at least 3 working days before your reservation ends.

  p.prevN If you need assistance please contact  &nbsp;
    a.purchase(href="mailto:business@standfortrees.org" target="_blank") business@standfortrees.org

  include _footer