include _header
  h1 Thank you 
    if(name)
      |#{name} 
    |for standing for forests

  h3 Hi there, your quotation for the Stand For Trees Badging Program has been completed. Please find the Document attached

  include _footer