include _header
  h1 Welcome to Stand For Trees Badging Program

  h3 Glad to have you here

  p Please verify your account by following the link below &nbsp;
    a(href=loginUrl) #{loginUrl}

    p.prevN Lorem Ipsum dolor sit amet
      | Lorem Ipsum dolor sit amet
      | Lorem Ipsum dolor sit amet&nbsp;
      a(href="mailto:businessbadging@standfortrees.org" target="_blank") businessbadging@standfortrees.org


  p.support Thank you for your support.

  include _footer